// Fonts
$font-inter: Inter, sans-serif;
$font-poppins: Poppins, sans-serif;

// Text colors
$text-black: #000;
$text-black-500: #18191F;
$text-silver-300: #808080;
$text-silver-100: #E6E6E6;

// Simple colors
$red-main: #B00000;